# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg

# latexmk output directory (don't ignore pdf)
build/*.aux
build/*.bbl
build/*.bcf
build/*.blg
build/*.fdb_latexmk
build/*.fls
build/*.log
build/*.out
build/*.run.xml
build/*.synctex.gz
build/*.toc
build/*.lof
build/*.lot
build/*.nav
build/*.snm
build/*.vrb
build/*.idx
build/*.ilg
build/*.ind
build/*.glg
build/*.glo
build/*.gls
build/*.ist
build/*.acn
build/*.acr
build/*.alg

